body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.instructModal {
  display: none;
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

.instructModal-content {
  background-color: #0b0b0b;
  position: relative;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40%;
  border: 1px solid white;
}

.modal-header {
  padding: 2px 16px;
  color: #b3feb3;
  font: 1.3rem Inconsolata, monospace;
  border: 0px solid #dee2e6;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}

.modal-body {
  padding: 16px 16px; 
  color: #03EE03; 
  font: 0.9rem Inconsolata, monospace;
}

#typewriter:after {
  content: "|";
  -webkit-animation: blink 500ms linear infinite alternate;
          animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-footer {
  padding: 0px 0px;
  color: #03EE03;
  font: 1.3rem Inconsolata, monospace;
  border-top: 0px solid #dee2e6;
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}

.btn.btn-default {
  color: #1c1cfd;
  float: right;
}
.btn.btn-default:hover,
.btn.btn-default:focus {
  color: #9a9afe;
  text-decoration: none;
  cursor: pointer;
}

.instructClose {
  color: red;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.instructClose:hover,
.instructClose:focus {
  color: #ff9999;
  text-decoration: none;
  cursor: pointer;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  position: relative;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 20px;
  border: 1px solid #888;
  width: 55%;
}

/* The Close Button */
.closeBtn {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 20px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}